@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-neutral-900;
  }

  ::selection {
    @apply bg-brand-100 text-brand-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container-main {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
